* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body  { background-image: url(../images/rock-paper-scissor-ft.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.jumbotron { height: 50px;
background-color: black;
}



.container{
    padding: 20px;
}
header {
    background: white;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
    text-align: center;
}

.scoreBoard {
    margin: 25px auto;
    border: 3px solid black;
    border-radius: 4px;
    text-align: center;
    width: 230px;
    color: white;
    font-size: 40px;
    padding: 5px 20px;
    font-weight: 400;
    position: relative;
}

.badge {
    background: white;
    color: black;
    font-size: 18px;
    padding: 3px 10px;
}

#user1 {
    position: absolute;
    top: 25px;
    left: -35px;
}

#user2 {
    position: absolute;
    top: 25px;
    right: -35px;
}

.results {
    font-size: 2rem;
    color: white;
    font-weight: 700;
}

.results p {
    text-align: center;
}

.choices {
    margin-top: 50px;
    text-align: center;
}

img {
    display: inline-block;
    border: 4px solid black;
    border-radius: 50%;
    margin: 0 20px;
}

img:hover {
    cursor: pointer;
    /* zoom: 1.2; */
    border: 4px solid rgb(255, 187, 0);
}


#action {
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 1.3rem;
    margin-top: 20px;
}

#title1, #title2 {
    text-align: center;
    color: white;
    background-color: transparent;
    font-weight: 700;
    font-size: 1.3rem;
    margin-top: 20px;
    margin-left: 100px;
}
.submitBtn {
    margin-left: 40px;

}

.container {background-color: rgba(128, 128, 128, 0.527);}

label {margin-left: 25px;
     color:white;}
input {margin-left: 15px;}

button {margin-left: 75px;
        margin-top: 5px;}

